---
// import "../styles/reset.css";
import "../styles/global.css";

const { title, description, bodyClass } = Astro.props;
const pageTitle = title ? `${title} | MIO LOG GAMES` : "MIO LOG GAMES";

const url = 'https://miolog-games.online/';
const ogImage = '';
const themeColor = '#FFF';
const favicon = '/favicon.ico';
const appleIcon = '';
const canonical = 'https://miolog-games.online/';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="index,follow" />
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
    <meta property="og:url" content={url}>
    <meta property="og:title" content={title}>
    <meta property="og:type" content="website">
    <meta property="og:description" content={description}>
    <meta property="og:image" content={ogImage}>
    <meta property="og:site_name" content={title}>
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={ogImage}>
    <meta name="theme-color" content={themeColor}>
    <link rel="icon" href={favicon}>
    <!-- <link rel="app-touch-icon-precomposed" href={appleIcon}> -->
    <link rel="canonical" href={canonical}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <slot name="head" />
  </head>
  <body class={bodyClass}>
    <slot></slot>
  </body>
</html>

<style>
.page-index {
  display: grid;
  grid-template-rows: 1fr auto auto;
}
</style>
